* {
    box-sizing: border-box;
}

header {
    background-color: var(--gray-1);
    width: 100%;
    border-bottom: 2px solid var(--brand-1);
    height: 6.5rem;
    position: fixed;
    z-index: 1;
}

.header__flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 31rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header button {
    border: 1px solid var(--gray-7);
    color: white;
    background-color: var(--gray-1);
    padding: 10px 22px 10px 22px;
    cursor: pointer;
}

.banner {
    background-color: var(--gray-2);
    height: 30rem;
    padding-top: 12rem
}

.banner__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.banner__title {
    font-weight: var(--title-weight);
    /* font-size: var(--title1-size); */
    font-size: clamp(2rem, 1.199rem + 3.205vw, 2.5rem);
    color: white;
}

.banner span {
    color: var(--brand-1) ;
}

.banner__paragraph {
    font-weight: var(--main-text-weight);
    /* font-size: var(--text1-size); */
    font-size: clamp(1rem, 0.84rem + 0.641vw, 1.25rem);
    color: var(--gray-4);
    max-width: 75%;
}

.banner__paragraph::first-letter {
    margin-left: 1rem;
}

.banner__button, .faq__button {
    border: 1px solid transparent;
    border-radius: 0%;
    color: white;
    background-color: var(--brand-1);
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}

.about {
    background-color: var(--gray-1);
    height: 15rem;
    display: flex;
}



.about__flex-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:22rem;
    padding-inline: 3rem;
}

.h2__container {
        min-width: 35%;
 }

.about__title {
    font-weight: var(--title-weight);
    /* font-size: var(--title2-size); */
    font-size: clamp(1.5rem, 0.038rem + 3.846vw, 2.0rem);
    color: var(--gray-6);
}

.about__paragraph {
    color: var(--gray-5);
    font-weight: var(--main-text-weight);
    /* font-size: var(--text1-size); */
    font-size: clamp(1rem, 0.84rem + 0.641vw, 1.25rem);
    line-height: 1.7;
    min-width: 40%
}

.faq {
    background-color: var(--gray-2);
    /* height: 65rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.faq__flex-container {
    display: flex;
    justify-content: space-around;
    gap: 28rem;
    padding-inline: 3rem;
}


.faq__left-side {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    position: sticky;
    top: 12rem;
}

.faq__right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faq__listed-item {
    margin-bottom: 2rem;
}

.faq__title {
    font-weight: var(--title-weight);
    font-size: clamp(1.5rem, 0.038rem + 3.846vw, 2.0rem);
    /* font-size: var(--title2-size); */
    color: var(--gray-6);
}

.faq__button {
    width: 50%;
    cursor: pointer;
}

.faq__paragraph {
    font-weight: var(--main-text-weight);
    /* font-size: var(--text1-size); */
    font-size: clamp(1rem, 0.84rem + 0.641vw, 1.25rem);
    color: var(--gray-4);
    line-height: 1.7;
}

#paragraph__right-side {
    margin-top: 1.75rem;
}

.faq__question {
    font-weight: var(--title-weight);
    /* font-size: var(--title3-size); */
    font-size: clamp(1.5rem, 0.359rem + 2.564vw, 2rem);
    color: var(--gray-6);
}

.comments {
    background-color: var(--gray-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comments__flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 4rem;
}

.comments__list-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6.25rem;
}

.comments__person {
    font-weight: var(--title-weight);
    /* font-size: var(--title3-size); */
    font-size: clamp(1.25rem, 0.769rem + 1.923vw, 2rem);
    color: var(--gray-6);
}

.comments__year {
    font-weight:var(--main-text-weight);
    font-size: var(--text3-size);
    color: var(--gray-4);
}

.comments__paragraph {
    font-weight: var(--main-text-weight);
    font-size: var(--text2-size);
    color: var(--gray-5);
    line-height: 1.7;
    max-width: 70%;
}


.comments__box-blue {
    width: 30.875rem;
    height: 25rem;
    background-color: var(--brand-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 12rem;
}

.box__blue-container {
    padding-right: 1.5rem;
}

.comments__title-box-blue {
    font-weight: var(--title-weight);
    font-size: var(--title2-size);
    color: var(--gray-7);
    line-height: 4rem;
    max-width: 80%;
    text-align: center;
}

.comments__paragraph-box-blue {
    font-weight: var(--main-text-weight);
    font-size: var(--text1-size);
    color: var(--gray-7);
    line-height: 1.7;
    text-align: center;
    max-width: 80%;
}

.comments__year {
    padding-top: 1.25rem;
}

footer {
    background-color: var(--gray-1);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


dialog {
    padding: 0;
    width: 480px;
    height: 350px;
    border: 2px solid var(--brand-1);
    background-color: var(--gray-2);
    overflow: hidden;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal__container {
    width: 30rem;
    height: 21.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 1rem;
    position: absolute;
}

.modal__title {
    font-weight: var(--title-weight);
    font-size: var(--title3-size);
    line-height: 3.125rem;
    color: var(--gray-7);
    margin-top: 1.25rem;
}

.modal__close {
    position: relative;
    left: 25.0625rem;
    top: -2.6875rem;
    color: var(--gray-4);
    background-color: var(--gray-3);
    width: 1.875rem;
    height: 1.75rem;
    padding: .375rem .625rem .375rem .625rem;
    border-radius: .25rem;
    cursor: pointer;
}

.modal__paragraph {
    font-weight: var(--main-text-weight);
    font-size: var(--text3-size);
    color: var(--gray-4);
    margin-bottom: 1.875rem;
}

.modal__container input {
    font-weight: var(--main-text-weight);
    font-size: var(--text1-size);
    line-height: 1.875rem;
    color: var(--gray-4);
    background-color: var(--gray-1);
    padding: .875rem 1.25rem .875rem 1.25rem;
    margin-bottom: 1.875rem;
    height: 3.125rem;
    width: 90%;
    border: none;

}

.modal__container button {
    font-weight: var(--title-weight);
    font-size: var(--text3-size);
    line-height: 24px;
    color: var(--gray-7);
    background-color: var(--brand-1);
    padding: 0rem 2rem 0rem 2rem;
    margin-bottom: 1.5rem;
    height: 3.125rem;
    width: 90%;
    border: none;
}

@media (max-width: 1024px) {
    .about__flex-container {
        gap: 11rem;
        padding-inline: 2rem;
    }

    .faq__flex-container {
        padding-inline: 2rem;
        gap: 13rem;
    }

    .box__blue-container {
        padding-bottom: 2rem;
        padding-right: 1rem;
    }

    .comments__box-blue {
        width: 26.875rem;
    }

    .comments__paragraph {
        max-width: 58%;
    }
}

@media (max-width: 768px) {

     * {
        box-sizing: border-box;
        max-width: 100vw;
     }

    header {
        position: fixed;
        /* max-width: 100%; */
    }

    .header__flex-container {
        /* max-width: 100vw; */
        align-items: center;
        justify-content: center;
        gap: 20rem;
    }

    .banner {
        padding-bottom: 22rem;
    }

      .banner__flex-container {
       justify-content: center;
       align-items: center;
    }


     .banner__title {
        text-align: center;
    }

    .banner__paragraph {
        max-width: 60%;
        text-align: center;
    }

    .about__flex-container {
        display: block;
        text-align: center;
        padding-top: 2rem;
        padding-inline: 0;
    }

    .about__paragraph {
        padding: 2rem;
    }

    .faq__left-side {
        position: static;
    }


    .faq {
        padding-top: 0;
    }

    .faq__flex-container {
        display: block;
        padding-inline: 2rem;
    }

    .faq__title {
        text-align: center;
        margin-top: 5rem;
    }

    .faq__paragraph, .faq__button {
        width: 100%;
        text-align: center;
        margin-top: 0;
    }

    .faq__right-side {
        padding-top: 3rem;
    }


    .faq__question {
        display: block;
        text-align: center;
        padding-bottom: 2rem;
    }

    .comments__flex-container {
        display: block;
        padding-top: 0;
    }

    .comments__box-blue {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .box__blue-container {
        margin-inline: 2rem;
        padding-right: 0;
    }

    .comments {
        height: 85rem;
    }

    .comments__list-item {
        flex-direction: column;
        margin-bottom: 0;
        gap: 1rem;
        padding-inline: 3rem;
    }

    .comments__first-row {
        display: flex;
        align-items: center;
        padding-top: 2rem;
        gap: 1.25rem;
    }

    .comments__paragraph {
        max-width: 100%;
    }

    .comments__year {
        padding-top: 0;
    }

    .modal__close {
        left: 25.0625rem;
    }

}

@media (max-width: 425px) {

    header {
        height: 5.5rem;
    }

    .header__flex-container {
        display: block;
        padding-left: 2rem;
    }

    #first__button-show-message {
        display: none;
    }

    .banner {
        padding-bottom: 0;
        height: 30rem
    }

    .about__flex-container {
        padding-top: 1rem;
    }


    .about__paragraph {
        text-align: justify;
        padding-top: 1rem;
    }
    .faq {
        padding-bottom: 0px;
    }

    .faq__question {
        padding-bottom: 0px;
    }

    .faq__paragraph {
        text-align: justify;
    }

    .faq__title {
        margin-top: 3rem;
    }
    .comments {
        height: 115rem;
    }

    .comments__box-blue {
        height: 32rem;
    }

    .comments__title-box-blue, .comments__paragraph {
        text-align: justify;
    } 
    .comments__list-item {
        padding-inline: 1rem;
    }

    .modal__close {
        left: 22.0625rem;
    }

    .modal__paragraph {
        width: 90%;
    }

}