
header {
    background-color: var(--gray-1);
    max-width: 100%;
    border-bottom: 2px solid var(--brand-1);
    height: 6.5rem;
}

.header__flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 31rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header button {
    border: 1px solid var(--gray-7);
    color: white;
    background-color: var(--gray-1);
    padding: 10px 22px 10px 22px;
}

.banner {
    background-color: var(--gray-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    padding-top: 12rem;
}

.banner__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.banner__title {
    font-weight: var(--title-weight);
    font-size: var(--title1-size);
    color: white;
}

.banner span {
    color: var(--brand-1) ;
}

.banner__paragraph {
    font-weight: var(--main-text-weight);
    font-size: var(--text1-size);
    color: var(--gray-4);
}

.banner__paragraph::first-letter {
    margin-left: 1rem;
}

.banner__button, .faq__button {
    border: 1px solid transparent;
    border-radius: 0%;
    color: white;
    background-color: var(--brand-1);
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}

.about {
    background-color: var(--gray-1);
    height: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__flex-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:22rem;
}

.about__title {
    font-weight: var(--title-weight);
    font-size: var(--title2-size);
    color: var(--gray-6);
}

.about__paragraph {
    color: var(--gray-5);
    font-weight: var(--main-text-weight);
    font-size: var(--text1-size);
    line-height: 1.7;
}

.faq {
    background-color: var(--gray-2);
    height: 65rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.faq__flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12rem;
}

.faq__left-side {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq__right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faq__listed-item {
    margin-bottom: 2rem;
}

.faq__title {
    font-weight: var(--title-weight);
    font-size: var(--title2-size);
    color: var(--gray-6);
}

.faq__button {
    width: 50%;
}

.faq__paragraph {
    font-weight: var(--main-text-weight);
    font-size: var(--text1-size);
    color: var(--gray-4);
    margin-top: 1.75rem;
    line-height: 1.7;
}


.faq__question {
    font-weight: var(--title-weight);
    font-size: var(--title3-size);
    color: var(--gray-6);

}

.comments {
    background-color: var(--gray-2);
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comments__list-item {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 100px;
    margin-left: 0px;
}

.comments__person {
    font-weight: var(--title-weight);
    font-size: var(--title3-size);
    color: var(--gray-6);
}

.comments__year {
    font-weight:var(--main-text-weight);
    font-size: var(--text3-size);
    color: var(--gray-4);
}

.comments__paragraph {
    font-weight: var(--main-text-weight);
    font-size: var(--text2-size);
    color: var(--gray-5);
    line-height: 1.7;
}

.comments__flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 1rem;
}

.comments__box-blue {
    width: 494px;
    height: 400px;
    background-color: var(--brand-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.comments__title-box-blue {
    font-weight: var(--title-weight);
    font-size: var(--title2-size);
    color: var(--gray-7);
    line-height: 4rem;
}

.comments__paragraph-box-blue {
    font-weight: var(--main-text-weight);
    font-size: var(--text1-size);
    color: var(--gray-7);
    line-height: 1.7;
}

.comments__year {
    padding-top: 1.25rem;
}

footer {
    background-color: var(--gray-1);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
